// Antonio

@font-face {
    font-family: 'Antonio';
    src: url('../../fonts/antonio/Antonio-Thin.woff2') format('woff2'),
        url('../../fonts/antonio/Antonio-Thin.woff') format('woff');
    font-weight: 100;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Antonio';
    src: url('../../fonts/antonio/Antonio-ExtraLight.woff2') format('woff2'),
        url('../../fonts/antonio/Antonio-ExtraLight.woff') format('woff');
    font-weight: 200;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Antonio';
    src: url('../../fonts/antonio/Antonio-Light.woff2') format('woff2'),
    url('../../fonts/antonio/Antonio-Light.woff') format('woff');
    font-weight: 300;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Antonio';
    src: url('../../fonts/antonio/Antonio-Regular.woff2') format('woff2'),
        url('../../fonts/antonio/Antonio-Regular.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Antonio';
    src: url('../../fonts/antonio/Antonio-Medium.woff2') format('woff2'),
        url('../../fonts/antonio/Antonio-Medium.woff') format('woff');
    font-weight: 500;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Antonio';
    src: url('../../fonts/antonio/Antonio-SemiBold.woff2') format('woff2'),
        url('../../fonts/antonio/Antonio-SemiBold.woff') format('woff');
    font-weight: 600;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Antonio';
    src: url('../../fonts/antonio/Antonio-Bold.woff2') format('woff2'),
        url('../../fonts/antonio/Antonio-Bold.woff') format('woff');
    font-weight: bold;
    font-style: normal;
    font-display: swap;
}


// Spartan
@font-face {
    font-family: 'Spartan';
    src: url('../../fonts/spartan/Spartan-Regular.woff2') format('woff2'),
        url('../../fonts/spartan/Spartan-Regular.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Spartan';
    src: url('../../fonts/spartan/Spartan-Thin.woff2') format('woff2'),
        url('../../fonts/spartan/Spartan-Thin.woff') format('woff');
    font-weight: 100;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Spartan';
    src: url('../../fonts/spartan/Spartan-ExtraLight.woff2') format('woff2'),
        url('../../fonts/spartan/Spartan-ExtraLight.woff') format('woff');
    font-weight: 200;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Spartan';
    src: url('../../fonts/spartan/Spartan-SemiBold.woff2') format('woff2'),
        url('../../fonts/spartan/Spartan-SemiBold.woff') format('woff');
    font-weight: 600;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Spartan';
    src: url('../../fonts/spartan/Spartan-ExtraBold.woff2') format('woff2'),
        url('../../fonts/spartan/Spartan-ExtraBold.woff') format('woff');
    font-weight: 800;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Spartan';
    src: url('../../fonts/spartan/Spartan-Medium.woff2') format('woff2'),
        url('../../fonts/spartan/Spartan-Medium.woff') format('woff');
    font-weight: 500;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Spartan';
    src: url('../../fonts/spartan/Spartan-Black.woff2') format('woff2'),
        url('../../fonts/spartan/Spartan-Black.woff') format('woff');
    font-weight: 900;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Spartan';
    src: url('../../fonts/spartan/Spartan-Light.woff2') format('woff2'),
        url('../../fonts/spartan/Spartan-Light.woff') format('woff');
    font-weight: 300;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Spartan';
    src: url('../../fonts/spartan/Spartan-Bold.woff2') format('woff2'),
        url('../../fonts/spartan/Spartan-Bold.woff') format('woff');
    font-weight: bold;
    font-style: normal;
    font-display: swap;
}
