body {
    font-family: Spartan, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-weight: normal;
    font-size: 14px;
    line-height: 1.5;
}


h1,
h2 {
    font-family: Antonio, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-weight: 500;
}

h1 {
    font-size: 42px;
}

h2 {
    font-size     : 40px;
    letter-spacing: -1.5px;
}

h3,
h4 {
    font-family: Spartan, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-weight: bold;
}

h3 {
    font-size     : 12px;
    letter-spacing: 2.6px;
}

h4 {
    font-size     : 11px;
    letter-spacing: 1px;
}

p {
    font-size: 12px;
    line-height: 2;

}

// Component typography
.logo {
    font-family: Antonio, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-weight: 600;
}

// Planet navigation
.navigation__planets {
    ul {
        li {
            font-family: Spartan, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
            font-weight: bold;
        }
    }
}

// Planet data numbers

.planet-data {
    p {
        font-family: Antonio, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
        font-weight: bold;
        font-size: 22px;
    }
}