@media screen and (min-width: 890px) {

    // ----- Header -----
    header {
        @include flexItem(center, center, column);
    }

    .hamburger__container {
        display: none;
    }

    .navigation__header {
        display: inline-block;

    }


    // ----- Planet section -----
    #planet-facts {
        .navigation__planets {
            display: none;
        }

        .navigation__planets--desktop {
            display: block;
        }

        .planet-data__container {
            @include flexItem(space-between, center, row);
        }


        .planet-overview__container {
            .planet-text__container {
                text-align: left;
                width     : 48%;
            }
        }

        .planet-main__container {
            padding: 20px 35px;
        }

        // Planet Data
        .planet-metadata__container {
            @include flexItem(space-evenly, center, row);
            gap       : 20px;
            margin-top: 50px;

            .planet-data--list__container {
                flex-direction: column;
                align-items   : flex-start;
                padding       : 15px 15px;
                width         : 20%;
                min-width     : 150px;
                max-width     : 270px;

                h3 {
                    letter-spacing: 2px;
                }

                p {
                    font-size: 24px;
                }
            }
        }
    }
}

// Larger devices
@media screen and (min-width: 1150px) {

    // ----- Header -----
    header {
        @include flexItem(space-between, center, row);
        padding: 25px 35px;

        .navigation__header {
            width     : fit-content;
            margin-top: 0;

            ul {
                a {
                    margin-right: 33px;
                }

                li:last-child {
                    a {
                        margin-right: 0;
                    }
                }
            }
        }
    }

    // ----- Planet content -----
    #planet-facts {
        .planet-overview__container {
            margin         : 50px 0;
            flex-direction : row;
            justify-content: space-between;

            .planet-image__container {
                width: 50%;

                img {
                    margin : 0 auto;
                    display: block;
                }

                .geology-image {
                    bottom: -50px;
                    left  : calc(50% - 40px);
                    width : 80px;
                }
            }

            .planet-data__container {
                flex-direction: column;
                align-items   : start;
                bottom        : 0;
                width         : 40%;

                .planet-text__container {
                    width: 80%;
                }
            }

            .planet-main__container {

                .planet-metadata__container {
                    // @include flexItem(center, center, row);
                    // justify-content: center;
                    // gap            : 50px;
                    margin-top: 150px;
                }
            }
        }
    }

}