header {
    @include flexItem(space-between, center, row);
    box-sizing: border-box;
    position: sticky;
    top: 0;
    left: 0;
    width: 100%;
    padding: 25px 20px;
    z-index: 100;
    border-bottom: 1px solid $headerBorder;
}