.planet-data--list__container {
    @include flexItem(space-between, center, row);
    margin-bottom : 12px;
    border        : 1px solid $planetsDataBorder;
    padding       : 10px 25px;
    text-transform: uppercase;


    h3 {
        font-size: 10px;
        color    : $planetsDataColor;
    }
}