// ------- COLORS -------

// Page
$mainTextColor: #FFF;
$mainBgColor: #070724;


// HEADER
$headerBorder: #38384F;

// PLANETS FACTS
// Planets navigation
$planetsNavBorder: #38384F;
$planetsColor: #38384F;
$planetsActiveColor: #FFFFFF;


// ------- METRICS -------

// HEADER
$headerHeight: 90px;