// ------- COLORS -------

// Page
$mainTextColor: #FFF;
$mainBgColor: #070724;


// HEADER
$headerBorder: #38384F;

// PLANETS FACTS
// Planets navigation
$planetsNavBorder: #38384F;
$planetsNavColor: #838391;
$planetsActiveColor: #FFFFFF;

// Planets source
$planetsSource: #838391;
$planetsSourceLink: #38384F;

// Planets data
$planetsDataBorder: #838391;


// ------- METRICS -------

// HEADER
$headerHeight: 90px;